.container {
  padding: 0 2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.table {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
}

.table .row {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.table .row .col {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  font-size: 25px;
  font-weight: bold;
  
  margin: 0.6em;
  width: 2.5em;
  height: 2.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: left;
  color: #ffffff;
  background-color: #666666;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  user-select: none;
  -webkit-user-select: none;
}

.card.selected:not(:disabled),
.card:focus:not(:disabled),
.card:active:not(:disabled) {
  background-color: #0070f3;
}

.card:disabled.selected {
  background-color: #f37000;
}

@media (max-width: 500px) {
  .grid {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #222;
  }
}
